name = "satellite"
description = "used to create Satellite Image"
version = "0.0.1"
modules = []
groups = []
distro = ""

[[packages]]
name = "tmux"

[[packages]]
name = "vim-enhanced"

[customizations]
[customizations.kernel]
append = ""

[[customizations.user]]
name = "{{ baseos_name }}"
password = "{{ baseos_pw }}"
key = "{{ baseos_key }}"
groups = ["wheel"]
[customizations.timezone]
timezone = "America/New_York"
[customizations.locale]
[[customizations.filesystem]]
mountpoint = "/"
minsize = 1073741824

[[customizations.filesystem]]
mountpoint = "/usr"
minsize = 1073741824

[[customizations.filesystem]]
mountpoint = "/var"
minsize = 1073741824

[[customizations.filesystem]]
mountpoint = "/home"
minsize = 524288000

[[customizations.filesystem]]
mountpoint = "/var/log"
minsize = 10737418240

[[customizations.filesystem]]
mountpoint = "/var/lib/pgsql"
minsize = 21474836480

[[customizations.filesystem]]
mountpoint = "/opt/puppetlabs"
minsize = 524288000

[[customizations.filesystem]]
mountpoint = "/var/lib/pulp"
minsize = 322122547200
[customizations.fdo]
[customizations.ignition]
[customizations.ignition.firstboot]